In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "../input"]).decode("utf8"))

# Any results you write to the current directory are saved as output.

sample_submission.csv
test-jpg
test-tif
train-jpg
train-tif
train.csv

In [2]:
# coding: utf-8
# import data
import os
import matplotlib.image as image
import matplotlib.pyplot as plt

PLANET_KAGGLE_ROOT = "../input"
PLANET_KAGGLE_TIFF_DIR = PLANET_KAGGLE_ROOT + "/train-tif/"
PLANET_KAGGLE_LABEL_CSV = PLANET_KAGGLE_ROOT + "/train.csv"

# load label data
# read our data and take a look at what we are dealing with
train_csv = pd.read_csv(PLANET_KAGGLE_LABEL_CSV)
print(train_csv.head())

# load tiff data
# load files
train_tiff_sample = os.listdir(PLANET_KAGGLE_TIFF_DIR)

# pick just cloudy images for now

AVAILABLE_LABELS = [
    'agriculture', 
    'artisinal_mine', 
    'bare_ground', 
    'blooming', 
    'blow_down', 
    'clear', 
    'cloudy', 
    'conventional_mine', 
    'cultivation', 
    'habitation', 
    'haze', 
    'partly_cloudy', 
    'primary', 
    'road', 
    'selective_logging', 
    'slash_burn', 
    'water']

tags = pd.DataFrame()

for label in AVAILABLE_LABELS:
    tags[label] = train_csv.tags.apply(lambda x: np.where(label in x, 1, 0))

train = pd.concat([train_csv, tags], axis=1)
filtered_samples = [sample[0:-4] for sample in train_tiff_sample]

# get labels for these files
sample_labels = train[train['image_name'].isin(filtered_samples)]
sample_labels.reset_index(inplace=True)

from glob import glob
from skimage import io
image_paths = sorted(glob('../input/train-tif/*.tif'))[0:1000]
imgs = [io.imread(path) for path in image_paths]

  image_name                                       tags
0    train_0                               haze primary
1    train_1            agriculture clear primary water
2    train_2                              clear primary
3    train_3                              clear primary
4    train_4  agriculture clear habitation primary road

In [3]:
flattened_imgs = [img.flatten() for img in imgs[0:5]]

In [4]:
df = pd.DataFrame.from_records(flattened_imgs)

In [6]:
sample_labels = sample_labels[['cloudy']][0:5]
sample_labels

   cloudy
0       0
1       0
2       0
3       0
4       0

In [7]:
df = pd.concat([sample_labels[['cloudy']][0:5], df], axis=1)

In [ ]:
# running out of memory, need to spin up a server for development

In [8]:
df

,cloudy,0,1,2,3,4,5,6,7,8,...,262134,262135,262136,262137,262138,262139,262140,262141,262142,262143
0,0,5264,4412,2859,6621,5176,4358,2817,6596,5235,...,2676,6424,5235,4342,2821,6363,5205,4340,2824,6281
1,0,4096,3315,2195,6003,4120,3347,2183,6271,4167,...,2944,7315,4645,4132,2989,7455,4809,4269,3153,7540
2,0,3663,3015,1863,6476,3851,3137,2005,6474,3814,...,2326,5289,4062,3529,2456,5029,4054,3556,2535,4571
3,0,5371,4193,2944,2145,5290,4138,2912,2080,5260,...,2961,2178,5391,4271,2989,2153,5365,4265,3000,2112
4,0,5252,4329,2935,8489,5071,4091,2779,7395,5204,...,2609,4270,5094,3973,2725,4285,5133,4062,2750,4486